# LaTeX Hilfsdateien
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.bcf
*.run.xml
*.nav
*.snm
*.vrb

# Ausgabe
*.pdf

# Ausgabe-Ordner (TeXiFy / IntelliJ)
out/

# IntelliJ IDEA Projektdateien
.idea/

# Editor-Metadaten
.DS_Store
**/__pycache__
